<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Daily Journal</title>
    <meta charset="utf-8" />
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
  <nav class="navbar navbar-default">
    <!-- navbar only adds a litle bit padding and border in the bottom
    navbar-default adds a greyish background to the whole of <nav> -->
    <div class="container">
      <div class="navbar-header">
        <!-- when we decrease the size of viewport then if our navbar-brand is not inside a navbar-header then the list items 
        will appear on the right side of "DAILY JOURNAL".But due to navbar-header  the <li> will always appear  
          below the brand its bigger viewport or smaller -->
        <p class="navbar-brand">DAILY JOURNAL</p>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <!-- nav removes the bullet points and padds the individual list items(dont change the vertical alignment) -->  
        <!-- navbar-right puts the list items to the right instead of being in the middle --> 
        <!-- navbar-nav aligns the items horizontally and remove the default blue color on the link and also the box which appears in backgound on hovering the list items i.e link  -->
        <li ><a href="/">HOME</a></li>
        <li ><a href="/about">ABOUT</a></li>
        <li ><a href="/contact">CONTACT ME</a></li>
        <li ><a href="/compose">COMPOSE</a></li>
        
      </ul>
    </div>
  </nav>
    <div class="container">
