<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Daily Journal</title>
    <meta charset="utf-8" />
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">DAILY JOURNAL</p>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li ><a href="/">HOME</a></li>
        <li ><a href="/2">ABOUT</a></li>
        <li ><a href="/3">CONTACT ME</a></li>
        <li ><a href="/4">COMPOSE</a></li>
        
      </ul>
    </div>
  </nav>
    <div class="container">
