<%-include("partials/header")-%>
<h1>About</h1>
<p>Journaling can boost your productivity and well-being in a few minutes a day. You can write down your thoughts or record what happened during the day. It's a simple way to manage stress, enhance creativity, increase happiness, improve health, and increase work performance.</p>
<p>It is a sanctuary for your mind and soul, a journey that will help increase your positive energy, be more grateful, and have a calmer mind by building healthy thinking through journaling.</p>
    
<p>On this website, we can compose a thought by writing its Title and its Content in the post section. After hitting Publish it will redirect to our home page. Here, there are all of our notes and if we want to read their full content, we can click on Read More.With the use of Express Routing Parameters, we can search a Title by searching localhost:3000/'title name' and it will open that specific note. But if it doesn't exist a message will be shown as Title not found</p> 
    
    
<%-include("partials/footer")-%>
